body {
  background-color: #c7eeff !important;
  background-image: url("./assets/img/hogwarts_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  background-color: #c7eeff00 !important;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.quiz-card {
  max-width: 35rem;
  width: 100%;
  background-color: #1d242b !important;
  color: white !important;
  padding: 20px;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(223, 218, 218, 0.4);
  margin-top: 36px;
  padding-top: 12px;
}

.card-title {
  min-height: 50px;
  word-wrap: break-word;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}


.answer-card {
    padding-top: 4px;
    padding-bottom: 4px;
     padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    cursor: url(./assets/logo/cursor_wand.PNG), pointer ;
   
}
.btn:hover {
    cursor: url(./assets/logo/cursor_wand.PNG), pointer ;
}

.answer-card:hover {
  background-color: #c7eeffb0;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#trophy {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  animation: fadeInZoom 0.5s ease-out forwards;
}

#endScreen p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
}

#endScreen {
  background-color: #1d242b;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 35rem;
  width: 100%;
}

#progressBar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

#progressBar img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}


@media (max-width: 576px) {
  .container {
    margin: 10px auto;
    padding: 10px;
  }

  .quiz-card,
  #endScreen {
   
    padding: 10px;
  }

  .card-title {
    font-size: 1.1rem;
    min-height: unset;
  }

  #endScreen p {
    font-size: 1rem;
  }
  #progressBar img {
    height:24px;
    width:24px;
  }
  .card-img-top {
  height: 100px;
  object-fit: cover;
}

}
