body {
    background-color: #C7EEFF !important;
    background-image: url("./assets/img/hogwarts_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.container {
    background-color: #c7eeff00 !important;
    min-height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.quiz-card {
    width:35rem;
    background-color: #1D242B !important;
    color:white !important;
    
}

.question-footer {
    display:flex;
    justify-content: space-between;
    border-top: 1px solid rgba(223, 218, 218, 0.4);
    padding-top:12px;
    margin-top:32px;
    
}

.card-title {
    min-height:64px;
}

.card-img-top {
    height:250px;
    object-fit: cover;
}
.answer-card:hover {
    cursor: pointer;
    background-color: #c7eeffb0;

}


 .wrong {
 color: red;
 
}

.right {
    color:green;
    text-align: centers;
}

#rightWrong {
    height:64px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:24px;
}

#yourResult {
    margin-right: 64px;
    font-size: 24px;
}